<section class="slider">
  <div id="myCarousel" class="carousel slide carousel-fade">
    <ngb-carousel  class="carousel-inner">
      <ng-template ngbSlide class="item">
       <img data-src="images/slider/slider.jpg" alt="First slide" src="http://www.htmlpreviews.com/cloud/cricket/vinumo8/images/slider/slider1.jpg">
       <div class="carousel-caption">
            <h1 class="">Welcome to CricQuiz</h1>
            <p>Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </p>
            <p><a class="btn btn-default btn-lg text-uppercase" href="#" role="button">GET STARTED</a><a class="btn btn-default btn-lg text-uppercase" href="#" role="button">SIGNUP</a></p>
          </div>
      </ng-template>
      <ng-template ngbSlide class="item">
       <img data-src="images/slider/slider2.jpg" alt="Third slide" src="http://www.htmlpreviews.com/cloud/cricket/vinumo8/images/slider/slider2.jpg">
       <div class="carousel-caption">
            <h1 class="">Welcome to CricQuiz</h1>
            <p>Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </p>
            <p><a class="btn btn-default btn-lg text-uppercase" href="#" role="button">GET STARTED</a><a class="btn btn-default btn-lg text-uppercase" href="#" role="button">SIGNUP</a></p>
          </div>
      </ng-template>
      <ng-template ngbSlide class="item">
        <img data-src="images/slider/slider.jpg" alt="First slide" src="http://www.htmlpreviews.com/cloud/cricket/vinumo8/images/slider/slider1.jpg">
       <div class="carousel-caption">
            <h1 class="">Welcome to CricQuiz</h1>
            <p>Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </p>
            <p><a class="btn btn-default btn-lg text-uppercase" href="#" role="button">GET STARTED</a><a class="btn btn-default btn-lg text-uppercase" href="#" role="button">SIGNUP</a></p>
          </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>